@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Neucha&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --tomato-color: "tomato";
  --dark-blue-color: "#49557e";
  --light-tomato: "#fff4f2";
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header Card Background */
.bg-header-img {
  background-image: url("./assets/images/header-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header-animation {
  animation: fadeIn 3s;
}
.menu-list-overflow::-webkit-scrollbar {
  display: none;
}

/* Recipie List Animation */
.recipie-item-animation {
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
